name: smartui_example
description: Example app demonstrating smartui package features.
version: 1.0.0
publish_to: 'none'

environment:
  sdk: ^3.0.0
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  smartui:
    path: ../

dev_dependencies:
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
