name: smart_ui_example
description: Example app demonstrating smart_ui package features.
version: 1.0.0
publish_to: 'none'

environment:
  sdk: ^3.0.0
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  smart_ui:
    path: ../

dev_dependencies:
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
